* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #EDEEF0;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.img {
  height: 100%;
  width: 100%;
}

.card {
  max-width: 600px;
  padding: 16px;
  background-color: #ffffff;
  margin: 16px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px grey;
}

.btn {
  padding: 8px;
}